.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
  background-color: #1976d2;
  color: white !important;
}
.navbar button {
  font-size: 20px;
  background: #28a745;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
}
h2{
  color:white !important;
}
